@use 'colors';

.about {
    background-color: colors.$colorAbout;
    background-size: cover;

    @media (max-width: 768px) {
        
        h2 {
            font-size: 30px;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}