@use 'colors';

.characters {
    background-color: colors.$colorCharac;
    background-image: url(../images/hero/flipfundohero.png);
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        background-image: url(../images/hero/menorfundohero.png);
    }

    h1 {

        @media (max-width: 768px) {
            font-size: 30px;
            white-space: nowrap;
        }
    }

    button {
        color: colors.$colorAbout;
        margin-bottom: 8px;
        text-align: left;

        &:hover {
            color: colors.$colorTextSecundary;
        }
    }

    h3 {
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
        margin-bottom: 2px;

        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }

    .nav-charac .nav-link.active {
        background-color: colors.$colorAbout;
        color: colors.$colorTextPrimary;

        &:hover {
            background-color: colors.$colorTextSecundary;
            color: colors.$colorAbout;
        }
    }
}