@use 'colors';

.episodes {
    background-color: colors.$corDefundo;
    background-image: url(../images/hero/flipfundohero.png);
    background-repeat: no-repeat;
    padding-bottom: 50px;
    max-width: 100%;
    height: auto;

    @media (max-width: 768px) {
        background-image: url(../images/hero/menorfundohero.png);
        max-width: 100%;
        height: auto;
    }

    button {
        color: colors.$colorAbout;
        margin-bottom: 8px;

        &:hover {
            color: colors.$colorTextSecundary;
        }

        @media (max-width: 768px) {
            font-size: 19px;
            margin-right: 10px;
        }
    }

    h3 {
        margin-bottom: 20px;

        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }

    h1 {

        @media (max-width: 768px) {
            font-size: 35px;
        }
    }

    img {
        max-width: 100%;
        margin-bottom: 2px;
    }

    .nav-eps .nav-link.active {
        background-color: colors.$colorAbout;
        color: colors.$colorTextPrimary;

        &:hover {
            background-color: colors.$colorTextSecundary;
            color: colors.$colorAbout;
        }
    }
}