@use 'colors';

#talk {
    background-color: colors.$corDefundo;
    background-repeat: no-repeat;
    text-align: center;

    i {
        color: colors.$colorTextSecundary;
    }

    .social {
        display: flex;
        justify-content: space-between;
        max-width: 30%;
        margin: 0 auto;
        padding-bottom: 100px;
    }
    
}